body { 
  margin: 0; 
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}

h2, h1, h3 {text-align: center; margin: 5px 0;}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even){background-color: #f2f2f2}
  
th {
  background-color: #779fce;
  color: white;
}

#quantity{
  display: inline-block;
  background: #fafafa;
  padding: 2px 7px;
  border: 1px solid gainsboro;
  border-radius: 16px;
}

.container {
  margin: auto;
  margin-top: 9vh;
  text-align: center;
}

.form {
  border: 1px solid #cecece;
  padding: 25px;
  max-width: 600px;
  box-shadow: 0px 0px 19px -4px #bdbdbd;
  border-radius: 5px;
}

input{
  padding: 9px;
  margin-bottom: 20px;
  border-radius: 13px;
  border: none;
  background-color: #f0f0f0;
  width: 80%;
}

.navbar{
  background: rgba(0,0,0, 0.7);
  height: 60px;
  opacity: 0.9;
}

.btn-group{
  float:right;
}

button, .btn {
  background-color: #51a0ff;
  padding: 15px 50px;
  border-radius: 10px;
  display: inline-block;
  color: white;
  border: none;
}

.nav-link{
  display:inline-block;
  padding: 19px;
  color:white;
}

.nav-link:hover, .btn:hover {
background-color: #4b8fe0;
}

.badge{
  background: #ff5252;
  padding: 2px 7px;
  vertical-align: top;
  font-size: x-small;
  border-radius: 50%;
}

.product, .card {
  border: 1px solid #c7c7c7;
  margin: 35px;
  width: 225px;
  height: 350px;
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 18px -10px #a1a1a1;
}

.orderSuccess{

}

#total{
  border-top: 1px solid grey;
  width: 50%;
  text-align: right;
  margin: 20px auto;
}

.error{
  border: 1px solid #ff5757;
  background-color: #ffe0e0;
  border-radius: 3px;
  color: #ff5757;
  font-weight: bold;
  margin-bottom: 20px;
}

.card{
  width: 33%;
  height: unset;
}