<div class="container">
  <h1>Add item to inventory</h1>
    <form [formGroup]="itemForm" (ngSubmit)="submitRegistration()" novalidate>
      <div *ngIf="validMessage != ''">
        <h3 class="has-info">{{validMessage}}</h3>
      </div>
        <input type="text"  formControlName="name"        placeholder="Product Name"  required autofocus/>
        <input type="email" formControlName="model_number"placeholder="Model Number"  required/>
        <input type="email" formControlName="model_ser"   placeholder="Model Edition" required/>
        <input type="text"  formControlName="price"       placeholder="Selling Price" required/>

        <div class="select">
          <select formControlName="category" required>
            <option value disabled selected>Select Product Type</option>
            <option value="pokeball">Poké Ball</option>
            <option value="potion">Potion</option>
            <option value="heal">Heal</option>
            <option value="repel">Repel</option>
            <option value="antidote">Antidote</option>
            <option value="pokedex">Pokédex</option>
            <option value="others">Other</option>
          </select>
        </div>

        <input type="text"  formControlName="stock"       placeholder="How many in stock" required/>
        <input type="text"  formControlName="specs"       placeholder="Specs" required/>
        <textarea  formControlName="description" placeholder="Description" required></textarea>
        <input type="text"  formControlName="image"       placeholder="Image filename" required/>
        
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
    <app-go-back></app-go-back>
  </div>
