<div class="container">
    <div class="itemInfo">
      <img src="assets/images/{{item.image}}">
      <h1 style="text-align: left">{{item.name}}</h1>
      <div class="form-group">
        <label id="caption">Product Name</label>
        <div class="form-control">{{item.name}}</div>
      </div>
      <div class="form-group">
        <label id="caption">Price</label>
        <div class="form-control">{{item.price}}</div>
      </div>
      <div class="form-group">
        <label id="caption">Model Number</label>
        <div class="form-control">{{item.model_number}}-{{item.model_ser}}</div>
      </div>
      <div class="form-group">
        <label id="caption">Product Dimension</label>
        <div class="form-control">{{item.specs}}</div>
      </div>
      <div class="form-group">
        <label id="caption">Description</label>
        <div class="form-control">{{item.description}}</div>
      </div>
      <app-go-back></app-go-back>
      <button (click)= "removeItem()">Remove Item</button>
    </div>
  </div>
